.Articles {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Articles-content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  margin: 1.5rem;

  & > .Article {
    margin-right: 2rem;
  }

  /*Delayed effect animation*/
  @for $i from 1 to 8 {
    & > .Article:nth-child(#{$i}) { animation-duration: $i * 0.25s; }
  }

  &::-webkit-scrollbar {
    height: 10px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #efefef;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #e2e2e2;
  }
}

.Articles-error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;

  a {
    text-decoration: none;
  }
}