.Main {
  display: flex;
  flex-direction: column;
}

.Main__Articles {
  padding: 0 5rem;
  margin-top: 3rem;

  h1 {
    color: #2457A4;
    margin-bottom: 2rem;
  }
}

.Main__Articles-content {
  display: inline-flex;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  padding-bottom: 0.5rem;

  & > .Article {
    margin-right: 2rem;
  }

  /*Delayed effect animation*/
  @for $i from 1 to 8 {
    & > .Article:nth-child(#{$i}) { animation-duration: $i * 0.25s; }
  }

  &::-webkit-scrollbar {
    height: 10px;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #efefef;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #e2e2e2;
  }
}

.Main__Header {
  position: relative;
  height: 300px;
  overflow: hidden;

  img {
    position: absolute;
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}