.Footer {
  display: inline-flex;
  justify-content: space-evenly;
  padding: 1rem;
  background: #2457A4;
  color: white;

  & > a {
    margin-right: 2rem;
    color: white;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }
}