.Header {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 999;

  & > div {
    display: inline-flex;
    align-items: center;

    & > div {
      display: inline-flex;
    }
  }
}

.Header-start {
  justify-content: flex-start;
  flex: 1;
}

.Header-end {
  justify-content: flex-end;
  flex: 1;
}

.Header__Sub {
  height: 40px;
  background: #2457A4;
  color: white;

  span {
    display: inline-flex;
    align-items: center;
    margin: 0 1rem;
    font-size: 0.9rem;

    svg,
    img {
      margin-right: 0.5rem;
    }
  }
}

.Header__Main {
  height: 75px;
  padding: 0 1rem;
  background: white;
  color: #2457A4;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.05);
}

.Header__Main-title {
  color: #2457A4;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}

.Header__Main__Search {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  padding: 0.5em;
  margin-right: 1rem;
  background: #F3F3F3;
  border-radius: 32px;
  transition: width 0.3s;

  input {
    width: 0px;
    background: none;
    color: black;
    font-size: 0.9rem;
    outline: none;
    border: none;
    transition: width 0.3s;

    &::placeholder {
      color: #7A7A7A;
    }
  }

  &:hover {
    width: 250px;

    input {
      width: 100%;
    }
  }
}

.Header__Main__Search-submit {
  color: #2457A4;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

.Header__Main__Cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 0.5rem;
  border-radius: 50%;
  background: #2457A4;
  color: white;
}

.Header__Main__Profile {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: 1rem;
    font-weight: bold;
    color: black;
  }

  h2 {
    font-size: 1.15rem;
    font-weight: normal;
    color: #7A7A7A;
  }
}